.logo{
    width: 50px;
    height: 50px;
}
#header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px ;
   background: rgba(151, 207, 233, 0.4);
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}
.search-container {
    display: flex;
    align-items: center;
    background: white;
    padding: 8px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
input[type="text"] {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    width: 550px;
}
.search-container button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    align-items: center;
    padding: 0 20px;
    list-style: none;

} 
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: darkturquoise;
    position: relative;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(203, 224, 69);

}
#navbar .icon{
    position: relative;
    

}
#navbar span{
    display: flex;
    background-color: rgb(230, 0, 0);
    width: 15px;  
    height: 15px; 
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: -150px;  
    margin-top: 5px;
    position: absolute;
   
}
#hero{
    height: 1fr;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#hero h1{
    text-align: center;
    color: #f79c01;
    text-shadow: #021306();
    font-size: 50px;
    padding-bottom: 0;
}
#hero .shift{
    color: #ffffff;
    background-color: #276fc1;
    height: 30px;
    width: 100px;
    align-self: center;
    border-radius: 15px;

}
#hero .shift:hover{
    background: #014288;
}
#product-list{
    display: grid;
    grid-template-columns: 50% 50% 50%;
    justify-content: center;
    padding-top: 0;
    height: 1fr;
}
.product{
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: space-between;
}
.product img{
    max-width: 200px;
}
.product p{
    align-items: end;
    align-content: end;
}
.product button{
    background: #021306;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 2px;
}
.product button:hover{
    background: #6e726f;
}
#footer {
    color: ivory;
    height: 90px;
    width: 100%;
    background-color: black;
    padding: 5PX;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

